.text-brown {
  color: #66280a;
}

.bg-brown {
  background-color: #66280a;
}

.btn-brown{
  background-color: #66280a;
  border: #7c3b1a;
  color: #fff;
}

.btn-brown:hover{
  color: #ff9f1c;
}

.text-ocre{
  color: #ff9f1c;
}

.bg-ocre{
  background-color: #ff9f1c;
}

.text-light-br{
  color: #b4764f;
}

.bg-light-br{
  background-color: #b4764f; 
}

.rounded-10{
  border-radius: 10px;
}

.nav-btn:hover{
  color: #66280a;
}

.text-cream{
  color: #ffd7ab;
}

.bg-cream{
  background-color: #ffd7ab;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.page-link{
  color: #66280a;
}

.page-link.active{
  background-color: #66280a;
}

.nav-link:hover{
  color: #ffd7ab;
}

.icon{
  height: 20px;
}

.border-brown{
  border-color: #b4764f;
}